IntranetPortal/IntranetPortal.Data/Service References/RulesEngine/IntranetPortal.RulesEngine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntranetPortal.RulesEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntranetPortal.RulesEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBaseRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseRule" nillable="true" type="tns:BaseRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseRule" nillable="true" type="tns:ArrayOfBaseRule" />
  <xs:complexType name="BaseRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExecuteNow" type="xs:boolean" />
      <xs:element minOccurs="0" name="RuleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRule" nillable="true" type="tns:BaseRule" />
</xs:schema>