IntranetPortal/IntranetPortal.Data/Service References/RulesEngine/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IntranetPortal.RulesEngine" />
  <xs:element name="GetRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntranetPortal.RulesEngine" minOccurs="0" name="GetRulesResult" nillable="true" type="q1:ArrayOfBaseRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntranetPortal.RulesEngine" minOccurs="0" name="GetRuleResult" nillable="true" type="q2:BaseRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntranetPortal.RulesEngine" minOccurs="0" name="GetRuleByIdResult" nillable="true" type="q3:BaseRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRulesStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>