IntranetPortal/IntranetPortal/Service References/CallTrackingService/CallTrackingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallTrackingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/CallTrackingService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/CallTrackingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/CallTrackingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CallTracking" />
      <xsd:import schemaLocation="http://localhost:8733/CallTrackingService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICallTrackingService_EmployeeReports_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeReports" />
  </wsdl:message>
  <wsdl:message name="ICallTrackingService_EmployeeReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeReportsResponse" />
  </wsdl:message>
  <wsdl:message name="ICallTrackingService_EmployeeStatisticData_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeStatisticData" />
  </wsdl:message>
  <wsdl:message name="ICallTrackingService_EmployeeStatisticData_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeStatisticDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ICallTrackingService">
    <wsdl:operation name="EmployeeReports">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallTrackingService/EmployeeReports" message="tns:ICallTrackingService_EmployeeReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallTrackingService/EmployeeReportsResponse" message="tns:ICallTrackingService_EmployeeReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeStatisticData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallTrackingService/EmployeeStatisticData" message="tns:ICallTrackingService_EmployeeStatisticData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallTrackingService/EmployeeStatisticDataResponse" message="tns:ICallTrackingService_EmployeeStatisticData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICallTrackingService" type="tns:ICallTrackingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeReports">
      <soap:operation soapAction="http://tempuri.org/ICallTrackingService/EmployeeReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeStatisticData">
      <soap:operation soapAction="http://tempuri.org/ICallTrackingService/EmployeeStatisticData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallTrackingService">
    <wsdl:port name="BasicHttpBinding_ICallTrackingService" binding="tns:BasicHttpBinding_ICallTrackingService">
      <soap:address location="http://localhost:8733/CallTrackingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>