IntranetPortal/IntranetPortal/Service References/CallTrackingService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/CallTrackingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CallTracking" />
  <xs:import schemaLocation="http://localhost:8733/CallTrackingService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="EmployeeReports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallTracking" minOccurs="0" name="EmployeeReportsResult" nillable="true" type="q1:ArrayOfEmployeeStatisticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeStatisticData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="emps" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeStatisticDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CallTracking" minOccurs="0" name="EmployeeStatisticDataResult" nillable="true" type="q3:ArrayOfEmployeeStatisticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>