IntranetPortal/RuleEngineManage/Service References/PortalService/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61504/WCFDataServices/CommonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61504/WCFDataServices/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61504/WCFDataServices/CommonService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SendEmailByTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailByTemplate" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SendEmailByTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailByTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SendTaskSummaryEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTaskSummaryEmail" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SendTaskSummaryEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTaskSummaryEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_UpdateLeadsSearchStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLeadsSearchStatus" />
  </wsdl:message>
  <wsdl:message name="ICommonService_UpdateLeadsSearchStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLeadsSearchStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/SendMessage" message="tns:ICommonService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SendMessageResponse" message="tns:ICommonService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailByTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/SendEmailByTemplate" message="tns:ICommonService_SendEmailByTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SendEmailByTemplateResponse" message="tns:ICommonService_SendEmailByTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/SendEmail" message="tns:ICommonService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SendEmailResponse" message="tns:ICommonService_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTaskSummaryEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/SendTaskSummaryEmail" message="tns:ICommonService_SendTaskSummaryEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SendTaskSummaryEmailResponse" message="tns:ICommonService_SendTaskSummaryEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLeadsSearchStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/UpdateLeadsSearchStatus" message="tns:ICommonService_UpdateLeadsSearchStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/UpdateLeadsSearchStatusResponse" message="tns:ICommonService_UpdateLeadsSearchStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommonService" type="tns:ICommonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/ICommonService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByTemplate">
      <soap:operation soapAction="http://tempuri.org/ICommonService/SendEmailByTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/ICommonService/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTaskSummaryEmail">
      <soap:operation soapAction="http://tempuri.org/ICommonService/SendTaskSummaryEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLeadsSearchStatus">
      <soap:operation soapAction="http://tempuri.org/ICommonService/UpdateLeadsSearchStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="BasicHttpBinding_ICommonService" binding="tns:BasicHttpBinding_ICommonService">
      <soap:address location="http://localhost:61504/WCFDataServices/CommonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>