IntranetPortal/IntranetPortal/Service References/DataAPI/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestComponent_VB" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestComponent_VB.TLOWebService" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DOD_PPO_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Request" nillable="true" type="q1:DOB_PPO_In" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DOD_PPO_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="DOD_PPO_GetResult" nillable="true" type="q2:DOB_PPO_out" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Prop_tax_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Request" nillable="true" type="q3:NYC_Prop_tax_In" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Prop_tax_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="NYC_Prop_tax_GetResult" nillable="true" type="q4:NYC_Prop_tax_Out" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_WaterSewer_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Request" nillable="true" type="q5:NYC_WaterSewer_In" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_WaterSewer_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="NYC_WaterSewer_GetResult" nillable="true" type="q6:NYC_WaterSewer_Out" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Acris_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Request" nillable="true" type="q7:Acris_In" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Acris_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Acris_GetResult" nillable="true" type="q8:Acris_Out" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Streets_lookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Boro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FullSet" type="xs:boolean" />
        <xs:element minOccurs="0" name="FistLetter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Streets_lookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NYC_Streets_lookupResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Address_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Boro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ST_NAME" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Address_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="NYC_Address_SearchResult" nillable="true" type="q10:ArrayOfNYC_Assessment_Initial_Search_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Legal_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Boro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Block" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Legal_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="NYC_Legal_SearchResult" nillable="true" type="q11:ArrayOfNYC_Assessment_Initial_Search_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Owner_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Boro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Owner_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="NYC_Owner_SearchResult" nillable="true" type="q12:ArrayOfNYC_Assessment_Initial_Search_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Assessment_Full">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_Assessment_FullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="NYC_Assessment_FullResult" nillable="true" type="q13:ArrayOfNYC_Assessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ALL_NYC_Tax_Liens_By_BBLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ALL_NYC_Tax_Liens_By_BBLEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="ALL_NYC_Tax_Liens_By_BBLEResult" nillable="true" type="q14:ArrayOfALL_NYC_Tax_Liens_CO_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="APIorderNum" type="xs:int" />
        <xs:element minOccurs="0" name="GetAcrisMtgrs" type="xs:boolean" />
        <xs:element minOccurs="0" name="GetTaxBill" type="xs:boolean" />
        <xs:element minOccurs="0" name="GetECBviolations" type="xs:boolean" />
        <xs:element minOccurs="0" name="GetWaterBill" type="xs:boolean" />
        <xs:element minOccurs="0" name="GetZillow" type="xs:boolean" />
        <xs:element minOccurs="0" name="GetTLO" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropdataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPropdataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zillow_Estimate_By_BBLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zillow_Estimate_By_BBLEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zillow_Estimate_By_BBLEResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Acris_Latest_OwnerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Acris_Latest_OwnerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Get_Acris_Latest_OwnerNameResult" nillable="true" type="q15:ArrayOfAcris_LatestOwner_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LisPendens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LisPendensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Get_LisPendensResult" nillable="true" type="q16:ArrayOfLisPen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TLO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIorderNum" type="xs:int" />
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonAddress2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonZip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonCountry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject_Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TLOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Get_TLOResult" nillable="true" type="q17:ArrayOfTLO_SuperPhoneResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LocateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIorderNum" type="xs:int" />
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonAddress2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonZip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonCountry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject_Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LocateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TestComponent_VB.TLOWebService" minOccurs="0" name="Get_LocateReportResult" nillable="true" type="q18:TLOLocateReportOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Acris_Get_LatestSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIorderNum" type="xs:int" />
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Acris_Get_LatestSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Acris_Get_LatestSaleResult" nillable="true" type="q19:Acris_Last_Sales_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_NameAndAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NYC_NameAndAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="NYC_NameAndAddressResult" nillable="true" type="q20:ArrayOfNYC_NameAndAddress_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Acris_TaxLien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Acris_TaxLienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TestComponent_VB" minOccurs="0" name="Get_Acris_TaxLienResult" nillable="true" type="q21:TaxLien_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Servicer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIorderNum" type="xs:int" />
        <xs:element minOccurs="0" name="BBLE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ServicerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ServicerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Requests_Waiting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Requests_WaitingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Requests_WaitingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>